[Desktop Entry]
Type=Application
Name=Crucible-FEA
Comment=2D/3D Finite Element Structural Solver
Exec=crucible-fea-desktop %f
Terminal=false
Categories=Science;Engineering;Physics;
Keywords=FEA;FEM;Finite Element;Structural;Stress;Engineering;
